.kwc-letter.kwc-letter-a(data-text="ARCHITECTURE")
  .kwc-letter-a-bg
  img(src=require('/src/assets/img/letters/a1.svg') alt="")
  .kwc-letter-text.kwc-letter-a-text-3
  .kwc-letter-text.kwc-letter-a-text-4
  .kwc-letter-text.kwc-letter-a-text-5
  img(src=require('/src/assets/img/letters/a2.svg') alt="")
  .kwc-letter-text.kwc-letter-a-text-1
  .kwc-letter-text.kwc-letter-a-text-2

.content-wrapper.color--dark
  .content-wrapper__inner
    .content-wrapper__title Houses are liquid
    .content-wrapper__text
      |Kowloon was far from the only place on Earth where poverty and lawlessness reigned.
      |But it was the only one with such architecture and appearance.
      |The main reason was the rapid population growth. In 10 years the city&amp;s population could double.

    .section-architecture__schemes
      .section-architecture__schemes-item
        .section-architecture__schemes-image-wrap
          img(src=require('/src/assets/img/architecture/scheme-1.svg'))
        .section-architecture__schemes-text.content-wrapper__text-style
          |This city could not grow in length and width, because the territory that belonged to it was limited to two and a half hectares.

      .section-architecture__schemes-item
        .section-architecture__schemes-image-wrap
          img(src=require('/src/assets/img/architecture/scheme-2.svg'))
        .section-architecture__schemes-text.content-wrapper__text-style
          |It could not grow in depth because the foundations of the buildings already built everywhere were not designed for this.

      .section-architecture__schemes-item
        .section-architecture__schemes-image-wrap
          img(src=require('/src/assets/img/architecture/scheme-3.svg'))
        .section-architecture__schemes-text.content-wrapper__text-style
          |Growing tall was also impossible: the height of buildings was limited to 14 floors due to the fact that there was an airport nearby, and planes landed directly over Kowloon.

      .section-architecture__schemes-item
        .section-architecture__schemes-image-wrap
          img(src=require('/src/assets/img/architecture/scheme-4.svg'))
        .section-architecture__schemes-text.content-wrapper__text-style
          |So there was nothing left to do but grow within itself.

    .content-wrapper__text
      |And so it turned out that the houses, like liquid, filled all the space allocated for them.
      |Illegal buildings grew like mushrooms after rain, the gaps between the houses gradually
      |decreased, and eventually it all turned into one big and ugly house, a kind of
      |self-regulating, albeit toxic, ecosystem.

    .content-wrapper__divider

    .content-wrapper__title Without a plan
    .content-wrapper__text
      |You can pile up in different ways. All the chaos and absurdity of the buildings was due
      |to the lack of a unified architectural plan for the city. At the dawn of its development,
      |the city consisted of two- and three-story houses built on the ruins of a military fortress.
      |Surprisingly, no one was going to demolish them, and they served as the foundation for
      |further piling up. At first, the city's residents built everything themselves, with their
      |own hands, as best they could.

  .kwc-plans-wrap
    .kwc-plans
      img(src=require('/src/assets/img/architecture/plans.svg') alt="")

  .content-wrapper__inner
    .content-wrapper__text
      |Then small Hong Kong construction companies joined this process.
      |They realized that in order to build something in Kowloon, you don’t need to get
      |permits or pay taxes. But the demand for housing grew exponentially. They paid a
      |little extra to the owners of already built houses for the opportunity to add a
      |few floors, and 10-square-meter apartments costing 10 thousand dollars were flying
      |off the shelves like hot cakes. Sometimes 7-8 people lived in such small apartments.
      |Of course, such construction took place in violation of all possible architectural norms.

  <div style="position: relative; width: 100%; margin-bottom: 40px;">
    img(src=require('/src/assets/img/architecture/cut.jpg') alt="" style="display: block; width: 100%;")
    img(src=require('/src/assets/img/architecture/inside.svg') alt="" style="display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%")
  </div>

  .content-wrapper__inner
    //- .photo-notes-horizontal
    //-   .photo-note
    //-     .photo-note__title Photograph
    //-     .photo-note__text Apartments
    //-   .photo-note
    //-     .photo-note__title Author
    //-     .photo-note__text Greg Girard
    //-   .photo-note
    //-     .photo-note__title Album
    //-     .photo-note__text Kowloon Walled City: Revisited

    .content-wrapper__title In a cramped space
    .content-wrapper__text
      |Courtyards and playgrounds ceased to exist in this city almost immediately, and the
      |streets became narrower and narrower, sometimes reaching only 70 cm in width. Apartments
      |either had no windows at all, or the windows offered a picturesque where you could sometimes
      |reach out and touch the opposite house. At some point, the streets became so crowded that
      |a parallel overground system of passages appeared in the city.

  .kwc-map

    //- img.content-wrapper__photo(src=require('/src/assets/img/photo/kowloon_walled_city_1989_aerial.jpg'))

  //- <img class="kwc-photo" src="/img/photos/1982-factory.jpg" alt="">
  //- <!-- <img class="kwc-photo" src="/img/photos/1992-roof.jpg" alt=""> -->
  //- <!-- <img class="kwc-photo" src="/img/photos/1934-education.jpg" alt=""> -->
  //- <!-- <img class="kwc-photo" src="/img/photos/1923-doctor.jpg" alt=""> -->
  //- <!-- <img class="kwc-photo" src="/img/photos/1913-police.jpg" alt=""> -->
